<!DOCTYPE html>
<html lang="en">

<head>
    {{>headlinks}}
</head>

<body>
    <!-- ==============Navbar start======================== -->
   {{>navbar}}
    <!-- ==============Navbar End======================== -->

    <!-- ==============Main Header Start======================== -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- ========== left side div ============= -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/about.png" alt="khush" class="img-fluid" title="AtmoWeather">
                        </figure>
                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome To My Profile</p>
                        <h1>I Am A<span> Full Stack Developer </span>Front End And Back End</h1>
                        <a href="https://www.facebook.com/ "><button>About Me</button></a>
                    </div>
                    <!-- ========== right side div ============= -->
                </div>
            </div>
        </div>
    </div>
    <!-- ===============  Footer =================== -->
    {{>footer}}

</body>

</html>